<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <div>
        after body
    </div>
    <div>
        @RenderSection("mysection", required: false)
    </div>
</body>
</html>
