
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post" action="/MyForm/Create">
    <input type="text" id="Title" name="Title" />
    <br />
    <input type="text" id="Publisher" name="Publisher" />
    <br />
    <input type="submit" value="Submit" />
</form>

