
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowBooks1</title>
</head>
<body>

    <ul>
    @foreach(var book in ViewBag.Books)
    {
        <li>@book.Title</li>

    }
        </ul>
</body>
</html>
