@addTagHelper *, MyFirstMVCApp
@{
    ViewData["Title"] = "UseMyViewComponent2";
}

<h2>UseMyViewComponent2</h2>

<div>

    <vc:my-sample data1="data 1 for the vc" data2="data 2 for the view component"></vc:my-sample>

</div>

