@model (string V1, string V2)
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@{ 
    var t1 = Model;
}

<h2>This is the ViewModel component</h2>
<div>@t1.V1</div>
<div>@t1.V2</div>